


body #gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict  {
	font-size: 1em;
	line-height: 1.618em;
 
}



#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict p {
	text-indent: 0em;
	margin: 0px 0px 0px 0px;
}



#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict h1.kindle-cn-copyright-title {
	page-break-before: always;
	font-size: 1.2em; 
	text-align: center; 
	border-width: 1.5px;
	margin:0.5em 0em 0.5em 0em;
	border-style: none none solid none;
	
}



#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict p.kindle-cn-copyright-text {
	line-height: 1.618;
	text-indent: 0em;
}

#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict h1.qy{
	text-align:center;
	margin-top:3em;
}
#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict h2{
	text-align: center;
	text-indent: 0em;
	margin-top: 1em;
	margin-bottom: 0.5em;

}

#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict h5{
	font-size: 1.05em;
	text-indent: 2em;
	margin-top: 1em;
	margin-bottom: 0.5em;

}

#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict h6{
	font-size: 1em;
	text-indent: 2em;
	margin-top: 1em;
	margin-bottom: 0.5em;

}



#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict p.qianyan{
	text-indent: 2em;
}


#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict p.juzuo{
	text-indent: 0em;
	text-align: left;
	
}



#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict table.body {
	margin: 0.8em 0em 1.5em 0em;
	border-style: none none solid solid;
	border-width: 1px;
}


#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict table.table-body {
    
	border-style: solid none none none;
	border-width: 1px;
	font-size: 1em;
	text-align: center;
	width: 100%;
	border-color: #000000;
	margin: 0.5em auto 1em auto;
}


#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict td.rt1{
	vertical-align: middle;
	font-size: 1em;
	border-width: 1px;
	border-style: none solid solid none;
	
	text-align: center;
	padding: 0.5em 0.2em 0.5em 0.2em;

}

#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict td.rt2{
	vertical-align: middle;
	font-size: 1em;
	border-width: 1px;
	border-style: none none solid none;
 	
	text-align: center;
	padding: 0.5em 0.2em 0.5em 0.2em;

}


#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict td.rn1{
	vertical-align: middle;
	font-size: 1em;
	border-width: 1px;
	border-style: none solid solid none;
    
	text-align: left;
	padding: 0.5em 0.2em 0.5em 0.2em;

}

#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict td.rn2{
	vertical-align: middle;
	font-size: 1em;
	border-width: 1px;
	border-style: none none solid none;
    
	text-align: left;
	padding: 0.5em 0.2em 0.5em 0.2em;

}


#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict td.rn3{
	vertical-align: middle;
	font-size: 1em;
	border-width: 1px;
	border-style: none solid none none;
    
	text-align: left;
	padding: 0.5em 0.2em 0.5em 0.2em;
}

#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict td.rn4{
	vertical-align: middle;
	font-size: 1em;
	border-width: 1px;
	border-style: none;
    
	text-align: left;
	padding: 0.5em 0.2em 0.5em 0.2em;
}


#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict td.rn5{
	vertical-align: bottom;
	font-size: 1em;
    
	text-align: left;
	padding: 0.5em 0.5em 0.5em 0.5em;
}


#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict table.body {
	margin: 0.8em auto 1em auto;
	width: 100%;
	border-style: none;
}


#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict td.dyg {
	vertical-align: top;
	width: 30%;
	border-style: none;
}

#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict td.dyg1 {
	vertical-align: top;
	padding-left: 0.5em;
	width: 70%;
	border-style: none;
}


#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict td.dyg4 {
	vertical-align: middle;
	width: 25%;
	border-style: none;
}

#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict td.dyg5 {
	vertical-align: middle;
	width: 25%;
	border-style: none;
}


#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict .bodyPic {
	text-align:center;
	font-size:0%;
}


#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict .bold {
font-weight: bold;
}



#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict img.image {
	width: 100%;
	margin-bottom: 0.5em;
}

 
#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict .imgDescript {
	font-size:0.8em;
	line-height:1.5em;
	text-align:center;
	letter-spacing:auto;
	text-indent: 0em;
}




#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict p.fnoteRight{
	
	text-align: right;
	line-height:1.2em;

}


#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict div.knowledge-point-div {
	font-size: 1em;
	padding: 0.5em;
	margin: 1.5em 0em 1.5em 0em;
	border-style: solid;
	border-width: 1px;
	border-color: #909090;
	border-radius: 0.5em;
}

#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict div.knowledge-point-div1 {
	font-size: 1em;
	padding: 0.5em;
	margin-top: 4em;
	border-style: solid;
	border-width: 1px;
	border-color: #909090;
	border-radius: 0.5em;
}

#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict p.kaiti{
	font-size: 0.9em;
	
	margin-left: 0em;
}


#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict span.textItalic {
	font-style: italic;
}


#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict p.juzhong{
	
	font-size: 1.2em;
	font-weight:bold;
	text-align: center;
	margin-top:1.5em;
	margin-bottom:0.8em;
}

#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict p.codetitle{
	
	font-size:0.9em;
	padding-bottom: 0.2em;
	text-align: left;
	border-bottom: solid 1px;
	margin-top: 1.2em;
	text-indent: 0em;
}

@font-face {
 font-family: yinbiao;
 src: url(bres://a4d19af339c82eef35d29a22130fd5c9/XXXXXXXXXXXXXXXX);
}


#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict .cn-kindle-yinbiao {

}


#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict table.body {
	
	font-weight: normal;
	border-style: none none none none;
	border-width: 1px;
	border-color: #000000;
	margin: 1em auto 1em auto;
}


#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict td.rt10 {
	
	vertical-align: middle;
	width: 10%;
	padding: 0.5em 0.5em 0.5em 0.5em;
	border-style: solid solid solid solid;
	border-width: 1px;
	border-color: #000000;
	text-align: center;
}

#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict td.rn10 {
	
	vertical-align: middle;
	width: 10%;
	padding: 0.5em 0.5em 0.5em 0.5em;
	border-style: solid solid solid solid;
	border-width: 1px;
	border-color: #000000;
	text-align: center;
}




#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict div.golden-dict-padding {
	width: 100%;
	height: 1px;
}

#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict div.word-entry.non-golden-dict-padding, #gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict div.key-word-entry.non-golden-dict-padding {
	margin-bottom: 8px;
}

#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict p.non-golden-dict-padding {
	margin-top: 5px;
	margin-bottom: 5px;
}

#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict h2 {
	font-size: 18px;
}

#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict span.word-delimiter {
	display: none;
}

#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict div.head-words a {
	margin-right: 10px;
	display: inline-block;
	font-weight: bold;
    font-size: 1.1em;
}

#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict div.head-words a.key-head-word, #gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict div.words-entries.default-show-key-head-word-only div.key-word-entry.key-head-word, #gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict .key-sense {
	color: #da3e3e;
	background-color: #e9f1df;
}

#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict span.item-num {
	display: none;
}

#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict h2.sigil_not_in_toc[onclick], #gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict div.sense>p {
	cursor: pointer;
}

#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict p.sense {
	margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.1em;
    color: #0c85cc;
    font-weight: bold;
}

#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict span.textItalic {
    color: darkslategray;	
}

#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict .flashing-shown-word-entry {
	color: yellow;
	background-color: red;	
}

#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict div.word-entry, #gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict div.key-word-entry {
	margin-bottom: 5px;
}

#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict div.word-entry>p:first-child {
	display: inline;
	margin-right: -5px;
}

#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict p.meaning {
	color: mediumvioletred;
	display: inline-block;
	margin-right: 5px;
}

#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict p.derive {
	color: green;
	display: inline-block;
}

#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict p.use {
	margin-left: 10px;
	color: #b9651e;
}

#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict p.example {
	display: block;
}

#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict p.example-en {
	display: inline-block;
	margin-left: 10px;
	color: gray;	
}

#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict p.example-cn {
	display: inline-block;
	margin-left: 10px;
	color: #0c989a;
	font-size: 0.90em;
}

#gdfrom-a4d19af339c82eef35d29a22130fd5c9 .mdict span.star {
	margin-left: 3px;
	color: #d22323;
}